<!-- <div class="map-container">
    <h1>Weather Disaster Alert System</h1>
  
    <label for="city">Enter City:</label>
    <input type="text" [(ngModel)]="city" placeholder="Enter city name" id="city" />
    <button (click)="checkWeather()">Check Weather</button>
  
    <div class="alert" *ngIf="alertMessage" style="margin-top: 20px; color: red;">
      {{ alertMessage }}
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
    <div id="map"></div>
  </div>
   -->
   <div class="map-container">
    <h1>Weather Disaster Alert System</h1>
  
    <label for="city">Enter City:</label>
    <input type="text" [(ngModel)]="city" placeholder="Enter city name" id="city" />
    <button (click)="checkWeather()">Check Weather</button>
  
    <div class="alert" *ngIf="alertMessage" style="margin-top: 20px; color: red;">
      {{ alertMessage }}
    </div>
  
    <!-- Map Box -->
    <div id="map"></div>
  </div>
  